.main {
    width: 500px;
    min-height: 388px;
    background-color: cornflowerblue;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 1px 1px 17px 9px white;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.imgStyle {
    margin-top: 10px;
    margin: 0 auto;
}

.positiveInp {
    border-color: lightgreen;
    background-color: palegreen;
    color: darkcyan;
}

.negativeInp {
    border-color: red;
    background-color: pink;
    color: brown;
}

.inputStyle {
    width: 30px;
    font-size: 27px;
}