
.App {
  height: 800px;
  background-repeat: repeat-y, repeat-x;
  background-image: url("assets/images/186622111.jpg");
  text-align: center;
  color: #fff;
  font-size: 27px;
  font-weight: bold;
}

.mainHeader {
  margin: 5px;
}